<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- primary meta tags -->
        {% if title %}
            <title>PHISHGUARD: {{ title }}</title>
        {% else %}
            <title>PHISHGUARD</title>
        {% endif %}
        <meta name="title" content="Phishguard">
        <meta name="description" content="Phishing Identification System Helping Guard Users with AI-Powered, Reliable Detection">

        <!-- favicon -->
        <link rel="shortcut icon" href="../static/images/logo.png" type="image/png">

        <!-- google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

        <!-- custom css -->
        <link rel="stylesheet" href="../static/css/style.css">

    </head>

    <body>

        <!-- * Alerts * -->
            
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="alert alert-{{ category }}">
                            <span class="icon">
                                {% if category == 'error' %}
                                    <ion-icon name="alert-circle-outline"></ion-icon>
                                {% elif category == 'success' %}
                                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                                {% endif %}
                            </span>
                            <span class="message">{{ message }}</span>
                            <button onclick="closeAlertSpecific(this); event.stopPropagation();" class="close-button">
                                <ion-icon name="close-outline" aria-hidden="true" class="close-icon"></ion-icon>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <!-- * Content * -->

        {% block content %}
        {% endblock %}

        <!-- * Footer * -->

        <footer class="footer">

            <div class="footer-bottom text-center">
                <div class="container">

                    <p class="footer-text">
                        PHISHGUARD - A Diploma Project by Ivan Georgiev | TUES, Graduating Class of 2024. 
                    </p>
                    <p class="footer-text">
                        Special thanks to my diploma supervisor for his invaluable guidance, to all the teachers who have helped me along the way, and to my family and friends for their unwavering support. This project wouldn't have been possible without you.
                    </p>

                </div>
            </div>
        </footer>

        <!-- custom js link -->
        <script src="../static/js/script.js"></script>

        <!-- ion-icon -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>